image: gitlab.cosmian.com:5000/core/ci-rust:latest

variables:
  CARGO_HOME: ${CI_PROJECT_DIR}/.cargo/
  SCCACHE_DIR: ${CI_PROJECT_DIR}/.cache/sccache
  COSMIAN_SERVER_URL: http://localhost:9998
  KMS_PUBLIC_PATH: /tmp
  KMS_PRIVATE_PATH: /tmp
  KMS_SHARED_PATH: /tmp

stages:
  - prebuild
  - build
  - test
  - publish

rustfmt:
  stage: prebuild
  cache: {}
  script:
    - cargo +stable format

doc:
  stage: prebuild
  cache: {}
  script:
    - cargo doc --all-features

clippy:
  stage: prebuild
  cache: {}
  script:
    # all features activated
    - cargo clippy --all-targets -- -D warnings
    # no feature activated
    - cargo clippy-all

# Security check
cargo_security_check:
  stage: prebuild
  cache: {}
  script:
    - cargo outdated -wR
    - cargo audit --deny warnings

#
# Build base
#
.base_compile: &base_compile
  stage: build
  cache:
    key: "${CI_COMMIT_REF_SLUG}"
    policy: pull
    paths:
      - $CARGO_HOME
      - $SCCACHE_DIR
  before_script:
    - sccache -s

benchmarks:
  <<: *base_compile
  script:
    - cargo bench --all-features
  when: manual

build_x86_64:
  <<: *base_compile
  script:
    - cargo build --verbose --release --features ffi --target x86_64-unknown-linux-gnu
    - cargo test --verbose --release --features ffi --target x86_64-unknown-linux-gnu
    - cbindgen . -c cbindgen.toml | grep -v \#include | uniq >target/${CI_PROJECT_NAME}.h
  artifacts:
    paths:
      - target/x86_64-unknown-linux-gnu/release/*.so
      - target/*.h
    expire_in: 3 mos

build_wasm:
  <<: *base_compile
  image: gitlab.cosmian.com:5000/core/ci-npm:latest
  script:
    - wasm-pack build --release --features wasm_bindgen
    - wasm-pack test --node --features wasm_bindgen --lib
    - wasm-pack build --target nodejs --release --features wasm_bindgen
  artifacts:
    paths:
      - pkg
    expire_in: 3 mos

build_windows:
  <<: *base_compile
  script:
    - cargo build --verbose --release --features ffi --target x86_64-pc-windows-gnu
    - cbindgen . -c cbindgen.toml | grep -v \#include | uniq >target/${CI_PROJECT_NAME}.h
  artifacts:
    paths:
      - target/x86_64-pc-windows-gnu/release/*.dll
      - target/*.h
    expire_in: 3 mos

build_osx:
  <<: *base_compile
  image: gitlab.cosmian.com:5000/core/ci-rust-osx:latest
  script:
    - cargo build --verbose --release --features ffi
    - cbindgen . -c cbindgen.toml | grep -v \#include | uniq >target/${CI_PROJECT_NAME}.h
  artifacts:
    paths:
      - target/release/*.a
      - target/release/*.so
      - target/*.h
    expire_in: 3 mos

build_android:
  <<: *base_compile
  image: gitlab.cosmian.com:5000/core/ci-rust-android:latest
  script:
    - cargo ndk -t x86 -t x86_64 -t armeabi-v7a -t arm64-v8a -o jniLibs build --release --features ffi --lib
  artifacts:
    paths:
      - jniLibs
    expire_in: 3 mos

test_cosmian_java_lib:
  image: gitlab.cosmian.com:5000/core/ci-java-8:latest
  stage: test
  services:
    - name: gitlab.cosmian.com:5000/core/kms:2.1.0_ci
      alias: kms_ci
  script:
    - bash ci/cosmian_java_lib.sh

test_python:
  stage: test
  script:
    - maturin build --release --features python
    - bash src/interfaces/pyo3/tests/test.sh
  artifacts:
    paths:
      - target/wheels/*.whl
    expire_in: 3 mos

test_cosmian_js_lib:
  image: node:16
  stage: test
  script:
    - bash ci/cosmian_js_lib.sh

publish:
  image: gitlab.cosmian.com:5000/core/ci-npm:latest
  stage: publish
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v\d+.\d+.\d+$/'
  script:
    - echo "//registry.npmjs.org/:_authToken=$NPM_ACCESS_TOKEN" > ~/.npmrc
    - wasm-pack build --release --features wasm_bindgen
    - wasm-pack pack
    - wasm-pack publish
